<div class="modal fade" id="demo1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= form_for (@collection) do |f| %>
            <div class="col-md-9">
              <%= f.text_field :name,class:'form-control',placeholder:"Add list" %>
            </div>
            <div class="col-md-3">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "Add", class: 'btn btn-success btn-sm btn pull-right'%>
            </div>
          <% end %> 
        </div> 
      </div>
    </div>
  </div>
</div>


<div class="container">
<div class="row" style="padding-top:152px;margin-bottom:350px">
  
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <button class="accordion" style="padding-left:18px;padding-right:18px;padding-bottom:0px;color:#00ffff" data-toggle="collapse" data-toggle="collapse" data-target="#demo">Lists</button>

    <div id="demo" class="collapse">
        <% collection_nil = [] %>   
          <% @urls.each do |url| %>
            <% if url.collection_id.nil? %>
              <% collection_nil << url.id %>
            <% end %>
          <% end %>
        <% if collection_nil.empty? %>
                               
          <% @collection_names.any? %><br>  
               
          <div class="panel-group" id="accordion">
            <% @collection_names.each_with_index do |collect, index| %>

          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1 %>">
         
    
           <h4 style="color: #ffff99;padding-left:10%"><%= collect.name %></h4>
                 
          </a> 
          <%= link_to "Delete", collection_path(collect.id),
          data: { confirm: "Are you sure?" }, style: "color: #ffff99
;padding-left:10%;font-style:italic",method: :delete %> 
         <div id="collapse<%= index+1 %>" class="panel-collapse collapse"><div class="panel-body">
              <div class="row">
                      <%= form_for (@website) do |f| %> 
                        <div class="col-md-9">
                          <%= f.text_field :url,class:'form-control',placeholder:"Add Domain" %>
                          <%= f.hidden_field :collection_id, value: collect.id%>
                        </div>
                        <div class="col-md-3">
                          <%= f.submit "Add", class: 'btn btn-success btn-sm btn pull-right' %> 
                        </div>
                      <% end %>
                      
          <%= render partial: "domain", locals: { collect_id: collect.id } %>  
                    
                    </div>                
                  </div>
               </div> 
              
            <% end %>
          </div>
     <a style="color: #00ffff;text-decoration:none;margin-left:5%;font-size:20px" data-toggle="modal" data-target="#demo1" >Add new list</a>
    </div>
 </div>
 

<div id="main" style="margin-top:-8%">
  
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; View lists</span>
</div>
<div class="col-md-4"></div>
 <div class="col-md-8" id="graph"></div>

    </div>
    <% else %>
      <%= render 'check' %>
    <% end %>
  </div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>