
 <% if user_signed_in? %>

  <% if current_user.admin? %>
    <div class="row">
      <div class='col-md-6 col-md-offset-3'>
        <% @user.each do |user| %>
          <% if current_user != user %>
            <b style='font-size: 22px;'><%= user.name %>
            <%= user.email %></b>
            <%= link_to "Delete", static_pages_destroy_path(user.id),
                          data: { confirm: "Are you sure?" },
                          method: :delete,
                          class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>

    <%= render 'user' %>
  <% end %>
  <% else %>
  <%= render partial: 'layouts/home' %>
  <header id="home">
    <div class="container">
      <div class="header-content">
        <div class="header-content-inner">
          <div class="row-fluid" style="margin-top:80px">
              <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-5 text-right" style="padding-right:0">
              <h1 style="display:inline-block;">STAY</h1>
            </div>
            <div class="col-xs-7 text-left" style="padding-right:0">
              <h1 id="animate" style="font-weight:900;display:inline-block"></h1>
            </div>
             <!--  <div class="col-sm-4">
               </div> -->
              <!-- <div class="col-sm-2"></div> -->
            
            <div class="row">
              
              <div class="col-sm-12" style="font-size: 30px; text-align:center;>
                 <h2 style="color: white;"> Keep Consistent Watch Over Your Competitors Online Presence<br> With Our Bundle Of Smart Tools</h2>
              </div>
               
            </div>
            <div class="row">
              <div class="col-sm-12 text-center" style="margin-top:60px">
              
                         <%= link_to 'Create Free Account', new_user_registration_path ,class:"btn btn-outline btn-xl page-scroll"%>
                </div>
              </div>
            </div>
            <br>
            </br>
            </div>
            </div>
            </div>
            </div>
        </div>
    </header>
    <section id="how it works" class="download bg-primary text-center">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12 ">
                    <h2 class="section-heading" style="color:white;">How It Works</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h3>Add Competitor Url</h3>
                            <div class="pic L_pics" style="background-image:url(<%= image_path '1.png' %>)"></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <h3>Add Your Url</h3>
                            <div class="pic L_pics" style="background-image:url(<%= image_path '2.png' %>)"></div>
                        </div>
                        <div class="col-md-12 text-center" style="margin-top:15px;">
                            <h3>Review Your Position</h3>
                            <div class="pic L_pics" style="background-image:url(<%= image_path '3.png' %>)"></div>
                        </div>
                        <br>
                        </br>
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin-top:30px;">
                               <%= link_to 'Create Free Account', new_user_registration_path ,class:"btn btn-outline btn-xl page-scroll"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="features" class="features" style="background-color:#99e699">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2 style="color:white"> Features</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="pic small_icons" style="background-image:url(<%= image_path 'cup.png' %>)"></div>
                            <h3>Alexa Rank Keeper</h3>
                        </div>
                        <div class="col-md-4 ">
                            <div class="pic small_icons" style="background-image:url(<%= image_path 'medal.png' %>)"></div>
                            <h3>Add Unlimited Competitors</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="pic small_icons" style="background-image:url(<%= image_path 'interface.png' %>)"></div>
                            <h3>Daily Ranking Updates</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-12 text-center">
                            <br>
                            <%= link_to 'Create Free Account', new_user_registration_path ,class:"btn btn-outline btn-xl page-scroll"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="contact bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading" >
                        <h2 style="color:white"> Pricing</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h3>Using RankHub is Free</h3>
                    <h3>No subscription Fee, No Contract</h3>
                    <h3>We help you to help yourself</h3>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
   <section style="background-color:#33ff77;padding-top:0px;padding-bottom:40px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   
                        <p style="color:white"> What are you waiting for?</p>
                    
                  
                </div>
            </div>
           <div class="row">
                          <div class="col-md-12 text-center">
                            
                            <br>
                            <%= link_to 'Create Free Account', new_user_registration_path ,class:"btn btn-outline btn-xl page-scroll"%>
                           
                           
                          </div>
                        </div>
          </div>
    </section>
  
<% end %> 

   
   
 <%= render partial: 'layouts/footer' %>