
  <div class="container">

    <div class="row" style="padding-top:80px;padding-bottom:46px">
     <div class="col-md-6 col-md-offset-5">
      <h1 style="margin-top:40px"> Invite code</h1>
      <%= form_for (Token.new) do |f| %>
      <div class="field" >
            
            <%= f.text_field :token, value: session[:token], autofocus: true %>
        </div>
      <%= f.submit "Submit", class: 'btn btn-success' ,style: 'margin-left:9%;margin-top:20px'%>
        <% end %>
      
   <div class="row" style="margin-left:-50%;margin-top:4%;font-style:italic">
  <%= flash[:msg]%>
</div>


    <div class="row" style="margin-left:-9%;margin-top:4%;font-style:italic">
  <%= flash[:message]%>
</div>
  </div>
</div>
</div>

