<% @d.each do |data| %>
  <br><h2>
  <%= data[:url] %>
  <br>Week Start Rank:
  <%= data[:rank] %>
  <br>Week End Rank:
  <%= data[:rank1] %>
  <br>
  <% if data[:change] == 0 %>
  
    <div class = "symbol" style="margin-top:5%">
      
      <%= image_tag("http://photos.gograph.com/thumbs/CSP/CSP638/k20747308.jpg",
      :height=>40, :width=>40, :alt => "image") %>
    </div>
  <%end%>

  <% if data[:change] > 0 %>
    <%= image_tag("http://www.bseindia.com/stock-share-price/include/Images/MktInd13.gif",
    :height=>40, :width=>40,  :alt => "image") %>
    <%= data[:change] %>
  <% elsif data[:change] < 0 %>
    <%= image_tag("http://www.bseindia.com/stock-share-price/include/Images/MktInd7.gif",
    :height=>40, :width=>40,  :alt => "image") %>
    <%= data[:change] %>
  <%end%>
</h2>
  
  <br>
<%end%>
 
