<% @d.each do |data| %>
  <br><h2>
  <%= data[:url] %>
  <br>Week Start Rank:
  <%= data[:rank] %>
  <br>Week End Rank:
  <%= data[:rank1] %>
  <br>
  <% if data[:change] == 0 %> 
  <br>
  
  No change  
      <%= image_tag("http://www.iconsdb.com/icons/preview/orange/minus-4-xxl.png",
      :height=>20, :width=>20, :alt => "image", :style => " padding-left: 10px; position: absolute !important;") %> 
  <%end%>
  <% if data[:change] > 0 %>
    <%= image_tag("http://www.iconsdb.com/icons/preview/green/up-circular-xxl.png",
    :height=>20, :width=>20,  :alt => "image") %>
    <%= data[:change] %>
  <% elsif data[:change] < 0 %>
    <%= image_tag("http://www.iconsdb.com/icons/preview/red/down-circular-xxl.png",
    :height=>20, :width=>20,  :alt => "image") %>
    <%= data[:change] %>
  <%end%>
</h2>
  
  <br>
<%end%>