<!-- Modal inner footer feedback-->
<div class="modal fade" id="feedbackmdl" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title text-center">Feedback</h1>
        <div class="container">
          <div class="row feedback-section">
            <div class="col-md-6 ">
              <%= form_for (Feedback.new) do |f| %>
                <div class="field feedback-field">
                  <%= f.label :name,"Name" %><br/>
                    <%= f.text_field :name ,autofocus: true, class: 'form-control' %>
                </div>
                <div class="field feedback-field">
                  <%= f.label :email ,"Email"%><br/>
                    <%= f.email_field :email,  class: 'form-control' %>
                </div>
                <div class="field feedback-field">
                  <%= f.label :message,"Message" %><br/>
                    <%= f.text_area :message,class:"form-control", size: "67x6" %>
                </div>
                <br>
                <%= f.submit "Send", class: 'btn btn-success btn pull-right' %>
                  <% end %>
            </div>
          </div>
          <div class="row feature-flash-message">
            <%= flash[:note]%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Terms Modal content-->
<div class="modal fade" id="termsModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title text-center">Terms of Service</h1>
        <p class="text-center">Last updated: December 30, 2016</p>
      </div>
      <div class="modal-body">
        <p>Please read these Terms of Service carefully before using the www.rankhub.co website (the "Service") operated by
          Red Panthers .</p>
        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These
          Terms apply to all visitors, users and others who access or use the Service.</p>
        <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms
          then you may not access the Service. </p>
        <p><strong>Accounts</strong></p>
        <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all
          times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account
          on our Service.</p>
        <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions
          under your password, whether your password is with our Service or a third-party service.</p>
        <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of
          any breach of security or unauthorized use of your account.</p>
        <p><strong>Links To Other Web Sites</strong></p>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by RankHub.</p>
        <p>RankHub has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any
          third party web sites or services. You further acknowledge and agree that RankHub shall not be responsible or liable,
          directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or
          reliance on any such content, goods or services available on or through any such web sites or services.</p>
        <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services
          that you visit.</p>
        <p><strong>Termination</strong></p>
        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
          whatsoever, including without limitation if you breach the Terms.</p>
        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including,
          without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
        <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever,
          including without limitation if you breach the Terms.</p>
        <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you
          may simply discontinue using the Service.</p>
        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including,
          without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
        <p><strong>Governing Law</strong></p>
        <p>These Terms shall be governed and construed in accordance with the laws of Kerala, India, without regard to its conflict
          of law provisions.</p>
        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If
          any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these
          Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and
          supersede and replace any prior agreements we might have between us regarding the Service.</p>
        <p><strong>Changes</strong></p>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material
          we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material
          change will be determined at our sole discretion.</p>
        <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised
          terms. If you do not agree to the new terms, please stop using the Service.</p>
        <p><strong>Contact Us</strong></p>
        <p>If you have any questions about these Terms, please contact us.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Contact Modal content-->
<div class="modal fade" id="cntModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title text-center">Contact Us</h1>
        <%= form_for (Contact.new) do |f| %>
          <div class="field contact-modal-field">
            <%= f.label :name,"Name" %><br/>
              <%= f.text_field :name ,autofocus: true,class: 'form-control' %>
          </div>
          <div class="field contact-modal-field">
            <%= f.label :email ,"Email"%><br/>
              <%= f.email_field :email,  class: 'form-control' %>
          </div>
          <div class="field contact-modal-field">
            <%= f.label :message,"Message" %><br/>
              <%= f.text_area :message,class:'form-control',size: "68x6" %>
          </div>
          <br>
          <%= f.submit "Send", class: 'btn btn-success btn pull-right contact-send' %>
            <% end %>
      </div>
    </div>
  </div>
</div>
<!--Privacy Modal content-->
<div class="modal fade" id="prModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title text-center">Privacy policy</h1>
        <p class="text-center">Last updated: December 30, 2016</p>
      </div>
      <div class="modal-body">
        <p>Red Panthers (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates the http://www.rankhub.co website (the
          &quot;Service&quot;).
        </p>
        <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you
          use our Service.</p>
        <p>We will not use or share your information with anyone except as described in this Privacy Policy. </p>
        <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the
          collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy,
          terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://www.rankhub.co</p>
        <p><strong>Information Collection And Use</strong></p>
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be
          used to contact or identify you. Personally identifiable information may include, but is not limited to, your name,
          other information (&quot;Personal Information&quot;).</p>
        <p><strong>Log Data</strong></p>
        <p>We collect information that your browser sends whenever you visit our Service (&quot;Log Data&quot;). This Log Data
          may include information such as your computer's Internet Protocol (&quot;IP&quot;) address, browser type, browser
          version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages
          and other statistics.</p>
        <p><strong>Cookies</strong></p>
        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to
          your browser from a web site and stored on your computer's hard drive.</p>
        <p>We use &quot;cookies&quot; to collect information. You can instruct your browser to refuse all cookies or to indicate
          when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of
          our Service.</p>
        <p><strong>Service Providers</strong></p>
        <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf,
          to perform Service-related services or to assist us in analyzing how our Service is used.</p>
        <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated
          not to disclose or use it for any other purpose.</p>
        <p><strong>Security</strong></p>
        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the
          Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means
          to protect your Personal Information, we cannot guarantee its absolute security.</p>
        <p><strong>Links To Other Sites</strong></p>
        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you
          will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site
          you visit.</p>
        <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third
          party sites or services.</p>
        <p><strong>Children's Privacy</strong></p>
        <p>Our Service does not address anyone under the age of 13 (&quot;Children&quot;).</p>
        <p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian
          and you are aware that your Children has provided us with Personal Information, please contact us. If we discover
          that a Children under 13 has provided us with Personal Information, we will delete such information from our servers
          immediately.
        </p>
        <p><strong>Changes To This Privacy Policy</strong></p>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
          Policy on this page.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective
          when they are posted on this page.</p>
        <p><strong>Contact Us</strong></p>
        <p>If you have any questions about this Privacy Policy, please contact us.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="foot_in">
  <div class="container cont-foot">
    <p>&copy;
      <%= Time.now.year%>
        All Rights Reserved.</p>
    <ul class="list-inline">
      <li>
        <a data-toggle="modal" href="#cntModal">Contact</a>
      </li>
      <li>
        <a data-toggle="modal" href="#termsModal" class="text-center">Terms of Services</a>
      </li>
      <li>
        <a data-toggle="modal" href="#prModal">Privacy</a>
      </li>
    </ul>
  </div>
  <div class="innerfooter-section">
    <%= render partial: 'layouts/innerfooter' %>
  </div>
</footer>