 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color:black !important;">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <%= link_to 'RankHub',root_path, class:"navbar-brand page-scroll"  %>
            </div>
                <% if user_signed_in? %>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to current_user.name, root_path, class:'load' %></li>
                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                    </ul>
                </nav>
            <% else %>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to 'Log In', new_user_session_path %></li>
                        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                    </ul>
                </nav>
                <% end %>
            </div>
        </nav>