<!DOCTYPE html>
<html>
    <head>
        <title>RankHub</title>
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
       <% if user_signed_in? %>
        <%= render partial: 'layouts/header' %>
         <%= yield %>
         <%= render partial: 'layouts/foot_in' %>
         
       
       
      
      <% elsif current_page?('/') %>

      <%= yield %>
        <%= render partial: 'layouts/footer' %>
       
        <% elsif current_page?('/users/password/new') %> 
        
        <%= yield %> 
     
      <% else %>
      <%= render partial: 'layouts/header' %>
      <%= yield %>
      <%= render partial: 'layouts/foot_in' %>

     
      <% end %>
       
    </body>
</html>






































































